/* **************************************************************************************/
/*   GENERAL */
/*    ************************************************************************************* */
.body{
    background-color: white;
    color: #1b4a67;
    font-family: 'Allerta', 'Droid Sans';
}

p{
    font-size: 14px;
}


#all-content{
    margin-top: 157px;
}

h2, h3{
    text-transform: uppercase;
    font-size: 20px;
}

/* NAVUGATION */
.navig{
    padding: 0px 30px 20px 30px;
    font-size: 14px;
    background-color: white;
    /*padding-bottom: 20px;   
    padding-top: 34px;*/
    text-transform: uppercase;
}


#navcon{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
} 

.navbar.navbar-default{
    margin-bottom: 0px;
    background-color: white;

} 

.nav.navbar-nav{
    /*float: right;*/
    padding-top: 17px;
}

.navbar-nav>li {
    padding-right: 10px;
}

.nav>li>a{
    margin-top: 56px;
    /*    margin-top: 40px;*/
    padding: 7px 7px;
    color: #504944;
}

#logoNavBar{
    padding-top: 20px;
    padding-right: 45px;
    width: 100%;
}

.main-logo{
    display: block;
    float: left;
    padding-right: 10px;
}

.navig ul.nav.nav-pills{
    padding-top: 32px;
}

.dropdown-menu>li>a{
    color: #504944;
    /*font-size: 12px; */
}

.soc-resp{
    float: right;
}

.social-net i{
    font-size: 20px;
    padding-top:0px;
}

nav .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-toggle {
    margin-top: 57px;
    float: left;
}

.nav-tabs {
    border-bottom: none;
}

/* END NAVIGATION */

.container-fluid{
    background-color: #dee0d7;
}


.sections.container-fluid{
    /*    width: 75%;*/
    max-width: 941px;
    /*    max-width: 75%;*/
} 


.carousel-inner img{
    width: 100%;
}

.carousel-indicators{
    display: none;
}

.right-control{
    right: 0;
    left: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 233px;
}

.right-control img{
    padding-right: 10px;
}

.left-control{
    right: auto;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 233px;
}

.left-control img{
    padding-left: 10px;
}



/* END CAROUSEL */

#blue-bar img{
    width: 100%;
}

/* WHO-WE-ARE SECTION */
.who-we-are{
    color: #1b4a67;
    background-color: white;
}
.who-are{
    background-color: white;
    text-align: justify;
    /*    padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 70px;
        padding-right: 70px;*/
    padding: 30px 70px 50px 70px;
}

.wh-re.container-fluid{
    background-color: white;    
}

.wh-re-left .col-md-4{
    padding-left: 0px;
}

.wh-re{
    width: 100%;
}

.wh-re h2{
    margin-top: 0px;
    margin-bottom: 10px;
}

#who-we-are-imgPNG{
    width:100%;
    padding-top: 10px;
}

#whoWeAreButton{
    border-radius: 0px;
    border-color: #2c6cb7;
}



.separator{
    background-color: white;
    text-align: center;
}




#leaderPic, #log-flag, #log-circles2{
    max-width: 100%;
}


/*#myCarousel3{
    display:none;
}*/

.news .item{
    /*    float: left;
        display: block;*/
    width: 100%;
}

.contact-us{
    background-image: url("fondo-contact_06.png");
    color: white;

}

.item .thumbnail{
    width: 30%;
    float: left;
    display: inline-block;
    border-radius: 0px;
    margin: 0 10px 0 10px;
}

.left-control2 {
    right: auto;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 112px;
}

.right-control2 {
    right: 0;
    left: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 112px;
}

.news{
    background-color: white;
    padding: 30px 70px 30px 70px;

}

.news.row h2{
    padding-bottom: 40px;
}

.news .thumbnail h3{
    margin-top: 10px;
    font-size: 14px;
}

.news .thumbnail p{
    font-size: 12px;
}

.carousel3inner{
    padding-left: 40px;
    padding-right: 40px;
}


.img-log{
    padding-right: 10px;
}

.separator #log-flag{
    width:100%;
}


.separator #log-circles{
    padding: 30px 70px 30px 70px;
}

.separator #log-circles img{
    width: 100%;
}


/* ////////////CONTACT US SECTION//////////////// */

.contact-us{
    padding: 30px 70px 30px 70px; 
}
.contact-cont{
    padding-top: 30px;
    padding-bottom: 40px;
}

.contact-cont, .footContact{
    width: 100%;
    float: left;
    display: block;

}

.contact-us p, .contact-us img{
    float: left;
}

.contact-us img{
    padding-right: 3px;
}

.contactColumn1, .contactColumn, .contactColumn2{
    display: block;
    padding: 0 10px 0 10px;
    float: left;
}

.contactColumn1{
    width: 23%;
}

.contactColumn{
    width: 16%;
}

.contactColumn2{
    width: 30%;
}

.contact-us p{
    font-size: 11px;
    margin-bottom: 0px;
}

.contact-us h2{
    margin-bottom: 30px;
}

.contact-us h2 img{
    padding-right: 10px;
}

.contact-us hr{
    border-top: 1px solid #565151;
}

.footText{
    color: grey;
    padding: 50px 0px 50px 0px;
    float: left;
    display: block;
}

body > div {
    padding-left: 0px;
    padding-right: 0px;
}



/* **************************************************************************************/
/*   For Mobile 480px */
/*    ************************************************************************************* */

@media only screen and (max-width: 986px) {

    .nav>li>a {
        font-size: 1.2vw;
        margin-top: 50px;
        padding: 3px 3px;
    }

}

@media only screen and (max-width: 428px) {

    .contactColumn1, .contactColumn, .contactColumn2 {
        width: 100%;
    }
    #navSec2{
      padding-right: 0px; 
     padding-left: 0px; 
    }
}

@media only screen and (max-width: 678px) {

    #logoNavBar {
        padding-right: 0px;
    }

}


