/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 19, 2017, 3:38:48 PM
    Author     : cleteci
*/
.body{
    background-color: white;
    color: #1b4a67;
    font-family: 'Allerta', 'Droid Sans';
}

h2{
    text-transform: uppercase;
    font-size: 30px;
}


.navigation-bar{
    background-color: white;
    padding-left: 200px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 12px;
}

.nav>li>a{
    padding: 10px 9px;
}

.main-logo{
    display: block;
    float: left;
    padding-right: 10px;
}

.navigation-bar ul.nav.nav-pills{
    padding-top: 32px;
}


.container-fluid{
    background-color: #dee0d7;
}

.main-content{
    width: 941px;
}

/*
.carousel-control{
    background: none;
} */

.carousel-indicators{
    display: none;
}

.right-control{
    right: 0;
    left: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 190px;
}

.left-control{
    right: auto;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-top: 190px;
}


.who-we-are{
    color: #1b4a67;
    background-color: white;
}
.who-are{
    background-color: white;
    text-align: justify;
    padding: 50px;
}

.wh-re-left .col-md-4{
    padding-left: 0px;
}

.wh-re{
    width: 100%;
}

.wh-re h2{
    margin-top: 0px;
    margin-bottom: 10px;
}

.wh-re .container .wh-re-right col-md-8{
   padding-left: 50px;
}

.separator{
    background-color: white;
    text-align: center;
}


/* ////////////WHAT WE DO SECTION///////////////// */

.what-we-do{
    background-color: #bcd5e6;
    color: #1b4a67;
    padding: 80px;
    padding-bottom: 0px;
}

.what-we-do .thumbnail .caption{    
    color: #1b4a67;
    
}

.what-we-do h2{
    margin-top: 0px;
    margin-bottom: 40px;
}


.wh-do-row{
    display: inline-block;
    float: left;
    padding-bottom: 30px;
}


.wh-do{
    width: 175px;
}


.thing{
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.logo-wh-do{
    display: block;
    float: left;
    
}

.logo-wh-do img{
    width: 120%;
    margin-left: 30px;
}

.wh-do p{
    border-style: solid;
    border-color: white;
    border-width: thin;
     font-size: 12px;
}

.wh-do .caption h3 {
    font-size: 12px;
}


/* ////////////END WHAT WE DO SECTION///////////////// */


.contact-us{
    background-image: url("contact-us-background.png");
    color: white;
    padding: 80px;
}

.thumbnail{
    border-radius: 0px;
}

.news{
    background-color: white;
    padding: 80px;
}


.img-log{
    padding-right: 10px;
}

.news h2{
    margin-top: 0px;
    margin-bottom: 40px;
}

.contact-cont{
    padding: 100px;
    height: 360px;
    padding-right: 100px;
    padding-top: 50px;
    margin-left: 60px;
}

.contact-content{
    width: 200px;
    height: 300px;
    font-weight: bold;
}

.contact-us h2{
    text-align: center;
}

.contact-content p{
    margin-left: 18px;
}

.contact-content h5{
    width: 300px;
    font-weight: bold;
    
}
